[Unit]
Description=armbian Redirector for apt Container
Requires=docker.service
After=docker.service

[Service]
Environment=APP_PATH=/usr/local/src/dl-router/app
Environment=USERDATA_PATH=/scripts/userdata.csv
Environment=MIRRORS_YAML_PATH=/scripts/mirrors-apt.yaml
Environment=LISTEN_PORT=25090
Environment=CONTAINER_NAME=apt-redirect
Restart=always
RestartSec=5s
ExecStart=/usr/bin/docker run --rm -a STDOUT -a STDERR -v ${APP_PATH}:/app -v ${USERDATA_PATH}:/app/userdata.csv -v ${MIRRORS_YAML_PATH}:/app/mirrors.yaml -p 127.0.0.1:${LISTEN_PORT}:80 --name ${CONTAINER_NAME} tiangolo/uwsgi-nginx-flask
ExecStop=/usr/bin/docker stop -t 2 ${CONTAINER_NAME}

[Install]
WantedBy=multiuser.target
